/* 
    Created on : Apr 6, 2017, 11:23:38 AM
    Author     : Bojan
*/
body {
  background: #14805e;
  font-family: Verdana,Geneva,Arial,sans-serif;
  /*margin-bottom: 81px;*/ }

.navbar-default {
  background: #14805e;
  border-bottom: 1px solid #189670; }
  .navbar-default .navbar-toggle .icon-bar .icon-bar {
    background-color: #189670; }
  .navbar-default .navbar-brand {
    color: #e4e4e4; }
  .navbar-default .navbar-nav li a {
    padding: 15px 0px;
    margin: 0 15px;
    color: #e4e4e4;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s linear; }
    .navbar-default .navbar-nav li a:hover {
      color: #ffdf1b;
      border-bottom: 2px solid #ffdf1b; }

.navbar-brand {
                padding: 0px;
            }
            .navbar-default {
                background: #474747;
                border-bottom: 1px solid #189670;
            }
            .navbar-brand>img {
                height: 100%;
                padding: 2px 0;
                width: 100%;
            }
.show-clock {
  color: #4acfa5;
  margin-left: 10px; }

.wrap-title {
  margin-bottom: 10px; }
  .wrap-title h2 {
    color: #ffffff; }
  .wrap-title .lead {
    color: #ffdf1b;
    font-weight: bold;
    margin-bottom: 10px; }

/*** Table ***/
table img {
  width: 24px; }

#tables-container {
  background: #474747; }
  #tables-container h3 {
    color: #ffffff;
    font-size: 1.14em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 0px;
    padding: 0 15px; }
  #tables-container div {
    padding-right: 0;
    padding-left: 0; }
  #tables-container .table-container-left {
    padding-right: 3px; }
    #tables-container .table-container-left p {
      color: #ffffff;
      padding-left: 15px; }
      #tables-container .table-container-left p a {
        color: #ffdf1b; }

.panel-group .panel + .panel {
  margin-top: 0px; }

.panel-group .panel {
  margin-bottom: 3px;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05); }
  .panel-group .panel .panel-heading {
    text-align: center;
    background: #25765C;
    color: #ffffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #189670;
    border-bottom-width: 0px; }
    .panel-group .panel .panel-heading h4 {
      font-size: 14px;
      font-weight: bold; }
      .panel-group .panel .panel-heading h4:hover {
        color: #ffdf1b; }

.table-bordered > thead {
  border: 1px solid #189670;
  background: #25765C;
  color: #ffffff; }
  .table-bordered > thead tr th {
    text-align: center;
    border: 1px solid #189670; }

.table-striped > tbody > tr, .table-striped > tbody > tr:nth-of-type(odd) {
  color: #dddddd;
  background-color: #666666; }
  .table-striped > tbody > tr td, .table-striped > tbody > tr:nth-of-type(odd) td {
    border: 1px solid #6e6e6e; }
  .table-striped > tbody > tr td:nth-child(1), .table-striped > tbody > tr:nth-of-type(odd) td:nth-child(1) {
    color: #bbbbbb; }
  .table-striped > tbody > tr td:nth-child(n+5), .table-striped > tbody > tr:nth-of-type(odd) td:nth-child(n+5) {
    color: #ffdf1b; }
  .table-striped > tbody > tr:hover, .table-striped > tbody > tr:nth-of-type(odd):hover {
    background: #707070; }

#table-bet td:nth-child(n+2), #table-bet-index td:nth-child(n+2) {
  text-align: center; }

#table-bet input, #table-bet-index input {
  display: none;
  cursor: pointer; }

#table-bet td a, #table-bet-index td a {
  color: #ffdf1b; }
  #table-bet td a:hover, #table-bet-index td a:hover {
    color: #ffffff; }

#table-bet td:nth-last-child(-n+3):hover {
  background-color: #414141;
  cursor: pointer; }

.checked-field {
  background: #414141; }

#table-leauges, #table-top10, #table-top10-ticket, #table-1x2-prize {
  margin-bottom: 3px; }
  #table-leauges tbody tr, #table-top10 tbody tr, #table-top10-ticket tbody tr, #table-1x2-prize tbody tr {
    background: #414141; }
    #table-leauges tbody tr:hover, #table-top10 tbody tr:hover, #table-top10-ticket tbody tr:hover, #table-1x2-prize tbody tr:hover {
      background: #585858; }
    #table-leauges tbody tr td a, #table-top10 tbody tr td a, #table-top10-ticket tbody tr td a, #table-1x2-prize tbody tr td a {
      color: #ffdf1b; }
      #table-leauges tbody tr td a:hover, #table-top10 tbody tr td a:hover, #table-top10-ticket tbody tr td a:hover, #table-1x2-prize tbody tr td a:hover {
        color: #ffffff; }
    #table-leauges tbody tr td:nth-child(n+3), #table-top10 tbody tr td:nth-child(n+3), #table-top10-ticket tbody tr td:nth-child(n+3), #table-1x2-prize tbody tr td:nth-child(n+3) {
      text-align: center; }

#table-users td:nth-child(2), #table-users td:last-child {
  text-align: center; }

#table-users td a {
  color: #ffdf1b; }
  #table-users td a:hover {
    color: #ffffff; }

#table-top10-ticket tbody {
  font-size: 10px; }
  #table-top10-ticket tbody tr td {
    vertical-align: middle;
    color: #dddddd; }

#table-profile td {
  vertical-align: middle;
  color: #dddddd; }
  #table-profile td:first-child {
    text-align: center; }

#table-1x2-prize tbody tr td {
  vertical-align: middle;
  color: #dddddd;
  text-align: center; }

#table-1x2-prize tbody tr:hover {
  background: #414141; }

#table-activity {
  margin-bottom: 3px; }
  #table-activity a {
    color: #ffdf1b; }
  #table-activity tbody tr {
    background: #585858; }
  #table-activity tbody tr:nth-child(even) td {
    font-style: italic;
    font-size: 0.85em;
    color: #999999; }

.copy-text {
  color: #ffdf1b;
  margin-top: 10px; }

#footer {
  position: relative;
  border-top: 1px solid #189670;
  padding: 20px 0; }
  #footer p {
    margin-bottom: 0;
    color: #e4e4e4; }

.footer-sticky {
  position: absolute;
  bottom: 0;
  width: 100%; }

/*** Login Page***/
#login-container {
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 50px 30px;
  background: rgba(71, 71, 71, 0.4);
  border-radius: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.4); }
  #login-container .form-control:focus {
    border-color: #25765C;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #25765c; }
  #login-container .btn-gp {
    width: 100%;
    color: #ffffff;
    background-color: #D34836;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.3); }
    #login-container .btn-gp:hover {
      color: #fff;
      background-color: #C53727;
      background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
      background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
      background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
      background-image: -o-linear-gradient(top, #dd4b39, #c53727);
      background-image: linear-gradient(top, #dd4b39, #c53727); }
  #login-container .social-button-divider {
    color: #ffffff;
    margin-top: 10px;
    text-align: center; }

.btn-singnin {
  color: #ccd8dc;
  background-color: #25765C;
  border: none;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.3); }
  .btn-singnin:hover {
    color: #ffffff;
    background: #14805e; }

/*** Register Page***/
.register-form label {
  color: #e4e4e4; }

.register-form .warning-register {
  color: #ffdf1b;
  font-weight: bold; }

/*** Dashboard Page ***/
.user-info {
  padding-top: 20px;
  color: #ffffff;
  font-size: 18px;
  text-align: center; }
  .user-info a {
    color: #ffdf1b;
    font-weight: bold; }
    .user-info a:hover {
      color: #ffffff; }
  .user-info span {
    color: #ffdf1b; }

/*** Users Page ***/
.search-container {
  margin-bottom: 10px;
  text-align: center; }

.stylish-input-group .input-group-addon {
  background: #666666 !important;
  border-color: #189670; }

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #189670;
  color: #e4e4e4;
  background: #666666; }

.stylish-input-group button {
  border: 0;
  color: #ffffff;
  background: #666666; }

/*** Comments ***/
.comment-main-level {
  clear: both; }

.comments-container {
  margin: 0px auto 15px;
  width: 100%;
  max-width: 60%; }

.main-message {
  color: #e4e4e4;
  background: transparent;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 100px;
  border: 1px solid #189670;
  resize: none;
  padding: 10px;
  outline: none; }
  .main-message:focus {
    border-color: #25765C;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #25765c; }

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative; }

.comments-list li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0; }

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px; }

/* Avatar*/
.comments-list .comment-avatar {
  width: 45px;
  height: 45px;
  position: relative;
  z-index: 99;
  float: left;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 5px; }

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%; }

.reply-list .comment-avatar {
  width: 50px;
  height: 50px; }

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both; }

.comments-list .comment-box, .comments-list .comment-box-main {
  width: 100%;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

.reply-list .comment-box {
  width: 610px; }

.comment-box .comment-head {
  background: #585858;
  padding: 4px 12px;
  border-bottom: 3px solid #25765C;
  overflow: hidden; }

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #A6A6A6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }

.comment-box .comment-head i:hover {
  color: #03658c; }

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px; }

.comment-box .comment-name a {
  color: #e4e4e4; }

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px; }

.comment-box .comment-content, .comments-list .comment-box-main {
  /*background: #FFF;*/
  padding: 12px;
  margin-left: 5px;
  font-size: 15px;
  color: #e4e4e4;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
  color: #ffdf1b; }

.comment-box .comment-name.by-author:after {
  content: 'autor';
  background: #25765C;
  color: #e4e4e4;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 1025px) {
  .comments-container {
    width: 100%;
    max-width: 90%; }
  .comments-list .comment-box {
    width: 100%; }
  .reply-list .comment-box {
    width: 100%; } }

/* 
    Created on : Apr 10, 2017, 5:52:23 PM
    Author     : Bojan
*/
#slider {
  width: 280px;
  top: 50%;
  transform: translateY(-50%);
  height: 220px;
  position: fixed;
  z-index: 999999; }
  #slider #header {
    width: 280px;
    height: 220px;
    position: absolute;
    border: 1px solid #189670;
    padding: 20px;
    background: rgba(71, 71, 71, 0.9); }
    #slider #header input[type=number]::-webkit-outer-spin-button,
    #slider #header input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    #slider #header input[type=number] {
      -moz-appearance: textfield; }
    #slider #header label {
      color: #ffffff; }
    #slider #header .form-control {
      width: 100%;
      font-weight: bold;
      margin-bottom: 10px; }
      #slider #header .form-control:focus {
        border-color: #25765C;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.875), 0 0 8px #25765c; }
    #slider #header .btn-bet {
      margin-top: 10px;
      color: #ccd8dc;
      background-color: #25765C;
      border: none;
      box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.3); }
      #slider #header .btn-bet:hover {
        color: #ffffff;
        background: #14805e; }

#sidebar {
  width: 180px;
  position: relative;
  top: 43%;
  left: 206px;
  transform: translateY(-50%);
  transform: rotate(90deg);
  cursor: pointer; }

#sidebar1 {
  width: 180px;
  position: relative;
  top: 43%;
  left: 206px;
  transform: rotate(90deg);
  cursor: pointer; }

.btn-slider {
  width: 180px;
  color: #ccd8dc;
  background-color: #414141;
  border: none;
  margin-top: 0;
  text-transform: uppercase; }
  .btn-slider:focus {
    color: #ccd8dc;
    background-color: #1e2128;
    outline: none; }
  .btn-slider:hover {
    color: #ffffff;
    background: #14805e; }

@media only screen and (max-width: 769px) {
  #slider {
    margin: 0 auto 40px auto;
    top: 0px;
    left: 0px !important;
    right: 0;
    transform: none;
    position: relative; }
    #slider #header {
      height: 240px;
      position: relative;
      right: 0;
      left: 0;
      margin: 0 auto;
      border: 0px solid transparent; }
  #sidebar, #klinac {
    display: none; }
  .panel-group {
    margin-bottom: 0px; } }

/*Media Query*/
@media (max-width: 900px) {
  .wrap-title {
    margin-bottom: 10px; }
    .wrap-title h2 {
      font-size: 25px; } }

@media (max-width: 769px) {
  .wrap-title h2 {
    font-size: 20px; }
  .warning-register {
    font-size: 11px; } }

@media (max-width: 641px) {
  .wrap-title h2 {
    font-size: 16px; }
  .wrap-title .lead {
    font-size: 12px; }
  #tables-container h3 {
    font-size: 0.7em;
    padding: 0 15px; }
  .user-info {
    padding-top: 20px;
    color: #ffffff;
    font-size: 0.95em;
    text-align: center; } }
@media screen and (max-width: 600px) { 
.table-striped > tbody > tr, 
.table-striped > tbody > tr:nth-of-type(2n+1) { font-size: 11px; } 
.table-striped > tbody > tr td:nth-child(1), 
.table-striped > tbody > tr:nth-of-type(2n+1) td:nth-child(1) { display:none; } 
.table-bordered > thead tr th { display: none; } }
@media (max-width: 481px) {
  .wrap-title h2 {
    font-size: 14px; }
  .warning-register {
    font-size: 9px; } }

@media (max-width: 415px) {
  #login-container {
    padding: 10px 10px;
    margin-bottom: 40px; } }
